<div
  style='text-align:center;max-width:600px;margin-left:auto;margin-right:auto;font-family:Inter,sans-serif'
>
  <img src='https://www.soul-network.com/soul-gradient.svg' width='120px' />
  <h1>Welcome to Soul!</h1>
  <div style='text-align:left'>
    <p>Hello {{username}},</p>
    <p>🎉 You're moments away from enjoying social media freedom, please verify
      your email by clicking on the button below:</p>
  </div>
  <a href='{{url}}' target='_blank'><button
      style='border-radius:10px;background-color:#F72585;color:white;padding:12px 16px;border:none;cursor:pointer;'
    >Confirm Email</button></a>
</div>