<div
  style='text-align:center;max-width:600px;margin-left:auto;margin-right:auto;font-family:Inter,sans-serif'
>
  <img
    src='https://api.soul-network.com/public/soul-gradient.png'
    width='120px'
  />
  <h1>Password reset confirmation</h1>
  <div style='text-align:left'>
    <p>Hello {{username}},</p>
    <p>Your password has been reset successfully!</p>
  </div>

  <div style='background-color:#e9e9e9;margin-top:2rem'>
    <table style='margin-left:auto;margin-right:auto;'>
      <tr>
        <td style='padding:1rem'>
          <a href='https://soul.readme.io/reference'>API Docs</a>
        </td>
        <td style='padding:1rem'>
          <a href='https://status.soul-network.com/'>Status</a>
        </td>
        <td style='padding:1rem'>
          <a href='https://github.com/soul-project'>Github</a>
        </td>
        <td style='padding:1rem'>
          <a href='https://discord.gg/kuGNRembKZ'>Discord</a>
        </td>
      </tr>
    </table>
  </div>
</div>